#############################################
#  Host: {{ ansible_hostname }}
#  OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
#  Role: {{ group_names | join(', ') }}
#  Managed by Ansible
#############################################